<template>
  <v-layout>
    <v-flex text-xs-center>
      <v-img
        :src="url"
        class="mb-5"
        width="170px" />
      <v-text-field
        v-model="phone"
        :rules="phoneRules"
        label="Phone Number (555-555-5555)"
        required
      />
      <v-btn
        small
        color="primary"
        @click.prevent="make_card">Submit</v-btn>
      <v-btn
        small
        color="primary"
        @click.prevent="print_card">Print</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from '~/plugins/axios'

export default {
  data() {
    return {
      phoneRules: [
        v =>
          /^$|^[2-9]\d{2}-\d{3}-\d{4}$/.test(v) ||
          'Please input a valid phone number.'
      ],
      phone: '',
      url:
        'https://s3.amazonaws.com/western-electric-500-dial-card-img/phone_number_card_blank_340.png'
    }
  },
  methods: {
    print_card: function() {
      var newWindow = window.open('', '', 'width=100, height=100'),
        document = newWindow.document.open(),
        pageContent =
          '<!DOCTYPE html>' +
          '<html>' +
          '<head>' +
          '<meta charset="utf-8" />' +
          '<title>Western Electric 500 Dial Card</title>' +
          '<style type="text/css">body {-webkit-print-color-adjust: exact; }</style>' +
          '</head>' +
          '<body><div><div style="transform: scale(0.5); float:left;"><img src="' +
          this.url +
          '"/></body></html>'
      document.write(pageContent)
      document.close()
      newWindow.moveTo(0, 0)
      newWindow.resizeTo(screen.width, screen.height)
      setTimeout(function() {
        newWindow.print()
        newWindow.close()
      }, 250)
    },
    make_card: function() {
      axios.post('/v1/alive', { 'phone-number': this.phone }).then(
        response => {
          if (response.status == 200) {
            this.url = response.data.url
            this.phone = ''
          }
        },
        error => {
          console.log(error)
        }
      )
    }
  }
}
</script>
